<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miku.mapper.search.SearchMapper">
    <select id="searchArticles" resultType="com.miku.vo.ArticlesVO">
        SELECT
        a.id,
        a.title,
        a.content,
        a.comments,
        a.likes,
        a.createdTime,
        u.id,
        u.name,
        u.avatar
        FROM article_search a
        LEFT JOIN user_search u ON a.user_id = u.id
        <where>
            a.status = 1
            <if test="keyword != null and keyword != ''">
                AND (
                a.title LIKE CONCAT('%', #{keyword}, '%')
                OR a.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
        ORDER BY a.pub_time DESC
        LIMIT #{page}, #{pageSize}
    </select>

    <select id="countSearchArticles" resultType="int">
        SELECT COUNT(*)
        FROM article_search a
        <where>
            a.status = 1
            <if test="keyword != null and keyword != ''">
                AND (
                a.title LIKE CONCAT('%', #{keyword}, '%')
                OR a.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
    </select>
</mapper>