<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miku.mapper.mysql.UserMapper">
    <select id="selectByUserName" resultType="com.miku.entity.User">
        SELECT id, name, email, password, avatar
        FROM user
        WHERE name = #{name}
    </select>

    <select id="selectByEmail" resultType="com.miku.entity.User">
        SELECT id, name, email, password, avatar
        FROM user
        WHERE email = #{email}
    </select>

    <select id="countByName" resultType="java.lang.String">
        SELECT name
        FROM user
        WHERE name = #{name}
    </select>

    <select id="countByEmail" resultType="java.lang.String">
        SELECT email
        FROM user
        WHERE email = #{email}
    </select>

</mapper>